{% extends "view.html" %}

{% block taskViewContent %}
<form action="" method="post">
  {{ csrf_token_input|safe }}
  <div class="uk-card uk-card-default">
    <div class="uk-card-header uk-flex uk-flex-between">
      <h2 class="uk-title">志願分發</h2>
      <div class="uk-alig uk-flex-middle uk-flex">
        <span uk-tooltip="盡量壓低平均分發志願序，有可能會降低前幾志願的分發數量，但會降低在後面志願才分發到的數量"><input type="checkbox" name="loweravg" id="loweravg" value="true" /> <label class="uk-text" for="loweravg">壓低平均分發志願序</label></span>
        <span uk-tooltip="未選填志願，或依志願分發失敗者，在依志願分發結束後由系統強制分發"><input type="checkbox" name="forced" id="forced" value="true" /> <label class="uk-text" for="forced">啟用強制分發</label></span>
        <input type="submit" class="uk-button uk-button-small uk-button-primary uk-margin-left" value="新增分發結果" />
      </div>
    </div>
    <div class="uk-card-body uk-padding-small uk-overflow-auto">
      <table class="uk-table uk-table-small uk-table-striped uk-table-hover uk-text-center">
        <thead>
          <tr>
            <th rowspan="2" class="uk-table-expand uk-text-center">分發時間</th>
            <th rowspan="2" class="uk-table-shrink uk-text-center">啟用強制分發</th>
            <th rowspan="2" class="uk-width-auto uk-text-center">分發失敗</th>
            <th rowspan="2" class="uk-width-auto uk-text-center">分發成功</th>
            <th colspan="{{ task.Vnum+1 }}" class="uk-width-auto uk-text-center">志願分發人數</th>
            <th rowspan="2" class="uk-width-auto uk-text-center">分發成功<br/>平均分發志願序</th>
          </tr>
          <tr>
            {% for vi in seq %}
            <th class="uk-table-shrink uk-text-center">第{{ vi }}志願</th>
            {% endfor %}
            <th class="uk-table-shrink uk-text-center">系統強制分發</th>
          </tr>
        </thead>
        <tbody>
          {% for di in result %}
          <tr>
            <td>
              {{ di.Created|date:"2006/01/02 15:04:05" }}
              <a href="{{ di.ID }}/" class="uk-icon-link" uk-icon="search" title="查看分發結果"></a>
              <a href="{{ di.ID }}/download/" class="uk-icon-link" uk-icon="download" title="下載分發結果"></a>
              <a href="{{ di.ID }}/delete/" class="uk-icon-link uk-text-danger" uk-icon="trash" title="刪除分發結果"></a>
            </td>
            <td>{{ di.Forced|yesno:"<span uk-icon='check'></span>,,"|safe }}</td>
            <td>{{ di.ev.Failed|stringformat:"%.0f" }}</td>
            <td>{{ di.ev.Success|stringformat:"%.0f" }}</td>
            {% for vc in di.ev.Count %}
            <td>{{ vc|stringformat:"%.0f" }}</td>
            {% endfor %}
            <td>{{ di.ev.AvgScore|stringformat:"%.2f" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock %}