{% extends "view.html" %}

{% block taskViewContent %}
<div class="uk-card uk-card-default">
  <div class="uk-card-head">
    <h2 class="uk-card-header">學生志願序</h2>
  </div>
  <div class="uk-card-body">
    <h2 class="uk-heading-line uk-text-center uk-alert uk-alert-primary">學生志願序</h2>
    <table class="uk-table uk-table-striped uk-table-small">
      <thead>
        <tr>
          <th>學號</th>
          {% for i in seq|make_list %}
          <th>志願{{ i }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% comment %}
        {% for id, e in emap %}
        <tr>
          <td>{{ id }}/{{ e.u.Cno }}{{ e.u.Seat }} {{ e.u.Name }} </td>
          {% for c in e.s %}
          <td>{{ c }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endcomment %}
        {% for e in pool %}
        <tr>
          <td>{{ e.Cno }}{{ e.Seat }}{{ e.Name }}</td>
          {% for c in e.Selection %}
          <td>{{ c }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2 class="uk-heading-line uk-text-center uk-alert uk-alert-danger">未選填名單</h2>
    <div class="waiting uk-column-1-6 uk-column-divider">
      {% for w in estu %}
      <div>{{ w.Cno }}{{ w.Seat }} {{ w.Name }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="uk-card-footer">
    已選課人數 {{ pool|length }} / 需選課人數 {{ total }}
  </div>
</div>
{% endblock %}